#butterfly {
	top: 50px;
	width: 100%;
	height: 400px;
}

#bubble {
	top: 100px;
	width: 80%;
	height: 500px
}

#bubbleContainer {
	text-align: center;
}

#chart {
	top: 50px;
	width: 100%;
	height: 400px;
}

#countryRow {
	width: 80%;
	height: 450px;
	display: inline-block;
	margin-bottom: 100px;
}

#countryRowContainer {
	text-align: center;
	width: 100%;
}

#heatmap {
	top: 150px;
	width: 80%;
	height: 700px;
}

#heatmapContainer {
	text-align: center;
}

#mainSelectContainer {
	margin-top: 25px;
	width: 100%;
	text-align: center;
}

#map {
	top: 50px;
	width: 80%;
	height: 500px;
}

#mapContainer {
	text-align: center;
}

#subtitle {
	font-size: 30px;
	font-weight: 700;
}

#subtitleContainer {
	width: 100%;
	text-align: center;
	margin-top: 200px;
}

#title {
	font-size: 30px;
	font-weight: 700;
}

#titleContainer {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

.vega-bind {
	display: none;
}