body {
	position: relative;
}

*{
	font-family: Helvetica, Arial, sans-serif;
}

.pure-g [class*=pure-u] {
	font-family: Helvetica, Arial, sans-serif;
}

#butterfly {
	top: 50px;
	width: 100%;
	height: 400px;
}

#butterflyDescription {
	font-size: 12px;
	padding-right: 10px;
}

#bubble {
	top: 100px;
	width: 80%;
	height: 500px
}

#bubbleContainer {
	text-align: center;
}

#chart {
	top: 50px;
	width: 100%;
	height: 400px;
}

#chartDescription {
	font-size: 12px;
	padding: 0 10px;
}

#countryRow {
	width: 80%;
	height: 450px;
	display: inline-block;
	margin-bottom: 50px;
}

#countryRowContainer {
	text-align: center;
	width: 100%;
}

#countryRowDescription {
	width: 80%;
	display: inline-block;
}

#countryRowDescriptionContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
	width: 100%;
}

#footer {
	width: 80%;
	display: inline-block;
	font-size: 8px;
}

#footerContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 10px;
}

#footer2 {
	text-align: right;
	padding: 0 20px;
}

#heatmap {
	top: 150px;
	width: 80%;
	height: 550px;
}

#heatmapContainer {
	text-align: center;
}

#heatmapAnnotation {
	width: 50%;
	font-size: 15px;
}

#heatmapAnnotationContainer {
	margin-top: 200px;
	text-align: justify;
	display: flex;
	justify-content: center;
}

#heatmapStarredAnnotation {
	position: absolute;
	color: #000;
	font-size: 8px;
	font-style: italic;
	top: 1815px;
	right: 167px;
	z-index: 100;
}

#mainSelectContainer {
	margin-top: 25px;
	width: 100%;
	text-align: center;
}

#map {
	top: 50px;
	width: 80%;
	height: 500px;
}

#mapContainer {
	text-align: center;
}

#mapAnnotation {
	color: #ccc;
	font-size: 9px;
	font-style: italic;
	position: absolute;
	top: 265px;
	right: 310px;
	z-index: 100;
}

#subheading {
	font-size: 15px;
	font-weight: 500;
}

#subheadingContainer {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

#subtitle {
	font-size: 30px;
	font-weight: 700;
}

#subtitleContainer {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

#title {
	font-size: 30px;
	font-weight: 700;
}

#titleContainer {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

.vega-bind {
	display: none;
}
